<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tempoextra">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.splash">
        <activity
            android:name=".TelaAlunoVisualizar"
            android:exported="false" />
        <activity
            android:name=".TelaAlunoPedido"
            android:exported="false" />
        <activity
            android:name=".TelaHomeScreen"
            android:exported="false" />
        <activity
            android:name=".TelaAdm"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TelaCadastroAluno"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>